*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width:100%;
    background-color: rgba(127, 195, 214, 0.416);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Calculator{
    background-color: #3a4452;
    padding:20px;
    border-radius: 10px;
}
.Calculator form input{
    border: 0;
    outline: 0;
    width:60px;
    height:60px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    margin:10px;
    cursor: pointer;
}
.display{
    display: flex;
    justify-content: flex-end;
    margin:20px 0;
}
form .display input{
    flex:1;
    font-size: 45px;
    box-shadow: none;
    text-align: right;
}
form input.equal{
    width:145px;
}
form input.operator{
    color: #33ffd8;
}