@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,300&family=Roboto+Slab&family=Roboto:wght@100&display=swap');

/*HEADER SECTION*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;;
}
.container{
    max-width:1300px;
    padding:0 50px;
    margin:auto;
   
}
.navBar{
    display: flex;
    align-items: center;
    padding:20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type: none;

}
nav ul li{
    display:inline-block;
    margin-right:20px;
}
nav ul li a{
    text-decoration: none;
    color:#000;
}
.content{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.col-1{
    flex-basis: 50%;
    min-width:300px;
}
.col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px;
}
.col-1 img{
    max-width: 100%;
    padding:50px 0;
}
.btn{
    display: inline-block;
    color:#fff;
    background: #ff523b;
    padding:8px 30px;
    margin:30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.4s;
}
.btn:hover{
    background: brown;

}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}

/*Featured section styling*/
.categories{
    margin:70px 0;

}
.col-2{
    flex-basis: 30%;
    min-width:250px;
    margin-bottom: 30px;

}
.col-2 img{
    width:100%;

}
.smallContainer{
    max-width: 1080px;
    margin:auto;
    padding:25px;
}
.col-3{
    flex-basis:25%;
    min-width: 200px;
    padding:10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-3 img{
    width: 100%;
}
.title{
    text-align:center;
    line-height: 60px;
    margin:0 auto 80px;
    position:relative;
    color: #555;
}
.title::after{
    content:'';
    background: #ff523b;
    width:80px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}
h4{
    color:#555;
    font-weight: normal;
}
.col-3 p{
    font-size: 14px;;
}
.col-3:hover{
    transform: translateY(-5px);

}
.rating .fa{
    color:#ff523b
}

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top:80px;
    padding:30px 0;

}
.col-1 .offer-img{
    padding:50px;
}
small{
    color:#555;
}

/*Testimonal styling*/
.testimonal{
    padding-top:100px;
}
.testimonal .col-2{
    text-align: center;
    padding:40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    transition: transform 0.5s;
}
.testimonal .col-2:hover{
    transform: translateY(-10px);
}
.testimonal .col-2 img{
    width:50px;
    margin-top:20px;
    border-radius: 50%;
}
.fa-quote-left{
    font-size:34px;
    color:#ff523b;
}
.col-2 p{
    font-size:12px;
    margin:12px 0;
    color:#777;
}
.testimonal .col-2 h3{
    font-weight: 600;
    color:#555;
    font-size: 16px;
}

/*brands*/
.brands{
    margin:100px auto;
}

.col-4{
    width:160px;
}
.col-4 img{
    width:100%;
    cursor:pointer;
    filter:grayscale(100%);
}
.col-4 img:hover{
    filter:grayscale(0%);

}

/*FOOTER*/
.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding:60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color:#fff;
    margin-bottom:20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    width:180px;
    margin-bottom:20px;
}
.footer-col-3,.footer-col-4{
    flex-basis:12%;
    text-align: center;

}
ul li{
    list-style-type: none;
}
.app-logo{
    margin-top:10px;
}
.app-logo img{
    width:140px;
}
.footer hr{
    border:none;
    background: #b5b5b5;
    height:1px;
    margin:20px 0;
}
.copyright{
    text-align: center;

}
.menu-icon{
    width:28px;
    margin-left: 20px;
}

/*MEDIA QUERY FOR MENU*/
@media screen and(max-width){
    
}