*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    width:100%;
    height: 100vh;
    background-image: url(background.png);
    background-position: center;
    background-size:cover;
    padding:0 7%;
    color: #ffffff;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding:20px 0;
}
.logo{
    width:50px;
    cursor: pointer;
}
nav ul{
    flex:1;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a,nav .btn{
    text-decoration: none;
    color: aliceblue;
}
nav .btn{
    border:1px solid white;
    padding:10px 30px;
    border-radius: 20px;
}
.content{
    margin-top:12%;
}
.content h1{
     font-size: 88px;
}
.content h1 span{
    color: rgb(240, 159, 10);
}
.content p{
    line-height: 22px;
    font-size: 14px;
}
.content .btn{
    padding:15px 30px;
    background-color: rgb(240, 159, 10);
    margin-top: 35px;
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: 30px;
}
.coin-list{
    position: absolute;
    right:10%;
    bottom: 50px;
    display: flex;
    align-items: center;
}
.coin{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(240, 159, 10);
    margin: 0 15px;
    border-radius: 8px;
    border: 1px solid white;
    padding:25px;
}
.coin img{
    width:40px;
    margin-right: 10px;
}
.coin h3{
    color: #ffffff;
}