*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-image: url('208221.jpg');
  
}
.container{
    width:80%;
    max-width: 37.5em;
    padding:3em 1.5em;
    position: absolute;
    top: 50%;
    left:50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
}
.container img{
    display: block;
    height: 25em;
    max-width: 80%;
    margin:0 auto 1em auto; 
}
.container h3{
    display: block;
    font-weight: 400;
    text-align: center;
    color: rgb(169, 157, 157);
    margin:10px;
}
.container button{
    display: block;
    margin: 0 auto;
    padding:15px;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    font-size: 16px;
    outline:none;
    cursor: pointer;
    background-color: rgb(199, 174, 48);
}
